@font-face {
    font-family: 'Digital Numbers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital Numbers Regular'), url('DigitalNumbers-Regular.woff') format('woff');
    }
h1{text-align: center;
    font-family: 'Digital Numbers Regular';
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.446em;
    font-weight: 900;
    font-style: normal;
    width: 104%;
    

}
.main{
    margin: auto;
    height: 80vh;
    width: 60vh;
    
}
.container{
    text-align: center;
    width: 100%;
    height: 89%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:20% repeat(4,auto);
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    border:1px solid #1e1e1e;
    grid-gap: 4px;
    padding: 4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.ans{
    grid-column:span 4;
    background-color: #1e1e1e;
    height: 100%;
    border-radius: 10px;
    font-size: 55px;
    font-family:'Digital Numbers Regular';
    text-align: right;
    align-items: center;
    color: #e7e7e7;
    overflow-x: scroll;
    user-select: none;
    
    
}
::-webkit-scrollbar{
    width: 0;    
}


.equ{
    background-color:#fe7c4a;
    height: 100%;
    grid-row: 3/7;
    grid-column: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    
}
.box-n{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px 10px 10px 10px;
   
}
.operator{
   background-color: #e7e7e7;; 
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;

}
.bor{
    border:1px solid #939393;
    cursor: pointer;
}
